/* *<---------- CUSTOM PROPERTY ---------->* */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {

  /* *< COLORING >* */

  /* GRADIENT COLOR */
  --bg-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(240, 1%, 25%) 3%, 
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    hsla(240, 1%, 18%, 0.251) 0%, 
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right, 
    hsl(45, 100%, 71%) 0%, 
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg, 
    hsla(45, 100%, 71%, 0.251) 0%, 
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50% );
  --text-gradient-yellow: linear-gradient(
    to right, 
    hsl(45, 100%, 72%), 
    hsl(35, 100%, 68%)
  );

  /* SOLID COLOR */
  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /* *< END OF COLORING >* */

  /* *< TYPOGRAPHY >* */

  /* FONT-FAMILY */
  --ff-poppins: 'Poppins', sans-serif;

  /* FONT SIZE */
  --fs-1: 32px;
  --fs-2: 24px;
  --fs-3: 26px;
  --fs-4: 18px;
  --fs-6: 15px;
  --fs-7: 15px;
  --fs-8: 12px;

  /* FONT WEIGHT */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /* *< SHADOW >* */

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /* *< END OF SHADOW >* */

  /* *< TRANSITION >* */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

  /* *< END OF TRANSITION >* */
}

/* *<---------- END OF CUSTOM PROPERTY ---------->* */



/* *<---------- RESET ---------->* */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

/* img, ion-icon, a, button, time, span { display: block; } */

/* button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
} */

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus { outline-color: var(--orange-yellow-crayola); }

#portoPage { font-family: var(--ff-poppins); }

#portoPage { background: var(--smoky-black); }

/* *<---------- END OF RESET ---------->* */



/* *<---------- MAIN CONTAINER ---------->* */

#portoPage .mainContainer {
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* *<---------- END OF MAIN CONTAINER ---------->* */



/* *<---------- SECOND CONTAINER ---------->* */

#portoPage .mainContainer .secondContainer {
  padding: 60px 85px;
  height: 100vh;
  overflow: auto;
  margin: 0;
  width: 100vw;
}

/* *<---------- END OF SECOND CONTAINER ---------->* */



/* *<---------- PROFILE CONTACT SIDE ---------->* */

#portoPage .mainContainer .secondContainer .sidebar {
  padding: 0;
  margin: 0;
}

#portoPage .mainContainer .secondContainer .sidebar .card {
  height: max-content;
  padding: 60px 30px 15px 30px;
  background-color: var(--eerie-black-2);
  border-radius: 20px;
  box-shadow: var(--shadow-1);
  border: 1px solid var(--jet);
}

/* PROFILE SECTION */

#portoPage .mainContainer .secondContainer .sidebar .card .profile {
  padding-bottom: 20px;
  margin-bottom: 0;
}

#portoPage .mainContainer .secondContainer .sidebar .card .profile .profilePicture img {
  /* width: 150px; */
  width: 61%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 25px;
  border: 1px solid var(--jet);
  margin-bottom: 25px;
}

#portoPage .mainContainer .secondContainer .sidebar .card .profile .infoPersonal .name {
  color: var(--white-2);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
  margin-bottom: 15px;
}

#portoPage .mainContainer .secondContainer .sidebar .card .profile .infoPersonal .title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 5px 19px;
  border-radius: 8px;
}

#portoPage .mainContainer .secondContainer .sidebar .card .btn-modal {
  display: none;
}

/* CONTACT SECTION */

#portoPage .mainContainer .secondContainer .sidebar .card .contact {
  padding-top: 35px;
  border-top: 1px solid var(--jet);
}

#portoPage .mainContainer .secondContainer .sidebar .card .contact .iconBox {
  position: relative;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  /* width: 100%; */
  width: 42px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-gradient-onyx);
  z-index: 1;
}

#portoPage .mainContainer .secondContainer .sidebar .card .contact .iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

#portoPage .mainContainer .secondContainer .sidebar .card .contact .iconContact {
  font-size: 20px;
  color: var(--orange-yellow-crayola);
}

#portoPage .mainContainer .secondContainer .sidebar .card .contact .title {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
}

#portoPage .mainContainer .secondContainer .sidebar .card .contact .subTitle {
  color: var(--white-2);
  font-size: var(--fs-7);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

#portoPage .mainContainer .secondContainer .sidebar .card .contact .subTitleLoc {
  color: var(--white-2);
  font-size: var(--fs-7);
}

/* *<---------- END OF PROFILE CONTACT SIDE ---------->* */



/* *<---------- MAIN CONTENT CARD ---------->* */

#portoPage .mainContainer .secondContainer .mainContent {
  padding: 0;
  margin: 0;
}

#portoPage .mainContainer .secondContainer .mainContent .card {
  min-height: 783px;
  background-color: var(--eerie-black-2);
  border-radius: 20px;
  box-shadow: var(--shadow-1);
  border: 1px solid var(--jet);
  padding: 0;
}

/* *<---------- END OF MAIN CONTENT CARD ---------->* */

/* *<---------- NAVBAR ---------->* */

#portoPage .mainContainer .secondContainer .mainContent .card .navbar {
  padding: 0;
  z-index: 1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .navbar ul {
  width: 61%;
  padding: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid var(--jet);
  border-top: 0;
  border-right: 0;
  background: hsla(240, 1%, 17%, 0.75);
}

#portoPage .mainContainer .secondContainer .mainContent .card .navbar li {
  display: inline;
  font-size: var(--fs-6);
  font-weight: var(--fw-600);
  padding: 20px 0;
  transition: color var(--transition-1);
  cursor: pointer;
}

#portoPage .mainContainer .secondContainer .mainContent .card .navbar .active {
  color: var(--orange-yellow-crayola);
}

#portoPage .mainContainer .secondContainer .mainContent .card .navbar .not-active {
  color: var(--light-gray);
}

#portoPage .mainContainer .secondContainer .mainContent .card .navbar .not-active:hover {
  color: var(--light-gray-70);
}

/* *<---------- END OF NAVBAR ---------->* */



/* *<---------- ABOUT ---------->* */

#portoPage .mainContainer .secondContainer .mainContent .card .about {
  margin-top: -80px;
  padding: 30px 30px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .header .title {
  color: var(--white-2);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .header .underline {
  width: 5%;
  height: 5px;
  border-radius: 50px;
  background: var(--text-gradient-yellow);
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .content .aboutSelf {
  color: var(--light-gray);
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: var(--fs-6);
  line-height: 1.8;
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .subTitle {
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  color: var(--white-2);
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 30px 40px 30px 20px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
    margin-bottom: 25px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService .iconFullstack img, .iconFrontend img, .iconBackend img {
  width: 70%;
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService .info .title {
  color: var(--white-2);
  font-weight: var(--fw-600);
}

#portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService .info .explanation {
  color: var(--light-gray);
  font-size: var(--fs-8);
  margin-bottom: 0;
}

/* *<---------- END OF ABOUT ---------->* */



/* *<---------- RESUME ---------->* */

#portoPage .mainContainer .secondContainer .mainContent .card .resume {
  margin-top: -80px;
  padding: 30px 30px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .header .title {
  color: var(--white-2);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .header .underline {
  width: 5%;
  height: 5px;
  border-radius: 50px;
  background: var(--text-gradient-yellow);
}

/* EDUCATION */

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList {
  margin-top: 40px;
  margin-bottom: 35px;
  margin-left: 24px;
  border-left: 2px solid var(--jet);
  height: 80px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .subTitle {
  margin-top: -10px;
  z-index: 1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .subTitle .iconBox {
  position: relative;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  /* width: 100%; */
  width: 50px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-gradient-onyx);
  z-index: 1;
  margin-left: -26px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .subTitle .iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .subTitle .iconEducation {
  font-size: 25px;
  color: var(--orange-yellow-crayola);
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .subTitle p {
  color: var(--white-2);
  margin-left: 15px;
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education {
  margin-top: 25px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox {
  padding: 0;
  border-left: 2px solid var(--jet);
  margin-left: -2px;
  padding-bottom: 15px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox:nth-child(3) {
  padding: 0;
  border-left: 0;
  margin-left: -2px;
  padding-bottom: 15px;
  margin-top: -8px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox:nth-child(3) .info {
  margin-left: 42px;

}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox .info {
  margin-left: 40px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox .schoolName {
  color: var(--white-2);
  margin-bottom: 0;
  font-weight: var(--fw-500);
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox .schoolName::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--orange-yellow-crayola);
  border-radius: 999px;
  border: 4px solid var(--jet);
  margin: 4px 0 0 -49px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox .year {
  color: var(--orange-yellow-crayola);
  font-weight: var(--fw-300);
  letter-spacing: 1px;
  margin: 6px 0 0 0;
  font-size: var(--fs-6);
}

#portoPage .mainContainer .secondContainer .mainContent .card .resume .content .educationList .education .eduBox .text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
  font-size: var(--fs-6);
}

/* *<---------- END OF RESUME ---------->* */



/* *<---------- SKILL ---------->* */

#portoPage .mainContainer .secondContainer .mainContent .card .skill {
  margin-top: -80px;
  padding: 30px 30px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .header .title {
  color: var(--white-2);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .header .underline {
  width: 5%;
  height: 5px;
  border-radius: 50px;
  background: var(--text-gradient-yellow);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content {
  padding-top: 30px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox {
  position: relative;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-gradient-onyx);
  z-index: 1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox:hover {
  background: var(--bg-gradient-yellow-1);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .col-sm-3:nth-child(12) .iconBox::after {
  content: "Under Study";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-gray-70);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  inset: 1px;
  background: linear-gradient(135deg, rgba(32, 32, 34, 1), rgba(32, 32, 34, 0.3));
  border-radius: inherit;
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(5px);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .col-sm-3:nth-child(12) .iconBox:hover::after {
  color: var(--light-gray);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox .mobile-view {
  height: 120px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox img {
  width: 60%;
  transition: var(--transition-1);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .col-sm-3:nth-child(1) .iconBox img {
  width: 48%;
  aspect-ratio: inherit;
  transition: var(--transition-1);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .col-sm-3:nth-child(12) .iconBox img {
  width: 80%;
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox:hover img {
  transform: scale(1.1);
  transition: var(--transition-1);
}

#portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox p {
  font-size: var(--fs-6);
  color: var(--white-2);
  font-weight: var(--fw-600);
  margin-bottom: 0;
}

/* *<---------- END OF SKILL ---------->* */



/* *<---------- PORTFOLIO ---------->* */

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio {
  margin-top: -80px;
  padding: 30px 30px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .header .title {
  color: var(--white-2);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .header .underline {
  width: 5%;
  height: 5px;
  border-radius: 50px;
  background: var(--text-gradient-yellow);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content {
  padding-top: 30px;
}

/* CONTENT */

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox {
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  width: 100%;
  background: var(--bg-gradient-yellow-2);
  z-index: 9999;
  padding: 15px 15px;
  border: 1px solid var(--jet);
  margin-bottom: 25px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox:hover {
  border: 1px solid var(--vegas-gold);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .webPicture {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: var(--shadow-5);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .webName {
  padding-bottom: 15px;
}


#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox p:nth-child(1) {
  color: var(--white-2);
  font-size: 20px;
  font-weight: var(--fw-500);
  margin-bottom: 5px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .desc_short {
  color: var(--light-gray);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .stack p {
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  margin-bottom: 0;
  margin-right: 5px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .iconStack {
  width: 22px;
  margin-right: 7px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

/* MODAL */

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .btn-modal {
  background-color: var(--orange-yellow-crayola);
  border: 1px solid var(--orange-yellow-crayola);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  color: var(--onyx);
  padding: 5px;
  width: 48%;
  border-radius: 5px;
  box-shadow: var(--shadow-5);
  margin-right: 5px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .btn-modal:hover {
  background-color: var(--vegas-gold);
  border-color: var(--vegas-gold);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .iconDetails {
  font-size: 20px;
  margin-left: 3px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal {
  cursor: context-menu;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content {
  background-color: var(--eerie-black-2);
  color: var(--white-2);
  box-shadow: var(--shadow-5);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .modal-header {
  border-color: var(--jet);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .modal-footer {
  border-color: var(--jet);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .carousel {
  height: max-content;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .carousel .carousel-inner img {
  object-fit: cover;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .carousel-inner {
  border-radius: 5px;
  margin-bottom: 10px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .desc p:nth-child(2) {
  font-size: var(--fs-6);
  color: var(--light-gray);
  font-weight: var(--fw-300);
  text-align: justify;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .stackWeb .subTitle{
  margin-bottom: 10px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .stackWeb .iconBox {
  position: relative;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  width: 100%;
  /* width: 120px; */
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-gradient-onyx);
  z-index: 1;
  margin-bottom: 20px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .stackWeb .iconBox:hover {
  background: var(--bg-gradient-yellow-1);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .stackWeb .iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-content .stackWeb .iconBox img {
  width: 55%;
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-footer .btn-git {
  background-color: var(--orange-yellow-crayola);
  border: 1px solid var(--orange-yellow-crayola);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  color: var(--onyx);
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow-5);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-footer .btn-git:hover {
  background-color: var(--vegas-gold);
  border-color: var(--vegas-gold);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-footer .btn-preview {
  background-color: transparent;
  border: 1px solid var(--orange-yellow-crayola);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  color: var(--orange-yellow-crayola);
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--shadow-5);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .modal-footer .btn-preview:hover {
  background-color: var(--orange-yellow-crayola);
  color: var(--onyx);
}

/* END OF MODAL */

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .btn-preview {
  background-color: transparent;
  border: 1px solid var(--orange-yellow-crayola);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  color: var(--orange-yellow-crayola);
  padding: 5px;
  width: 48%;
  border-radius: 5px;
  box-shadow: var(--shadow-5);
}

#portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .btn-preview:hover {
  background-color: var(--orange-yellow-crayola);
  color: var(--onyx);
}

/* *<---------- END OF PORTFOLIO ---------->* */



/* *<---------- CONTACT ---------->* */

#portoPage .mainContainer .secondContainer .mainContent .card .contact {
  margin-top: -80px;
  padding: 30px 30px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .header .title {
  color: var(--white-2);
  font-size: var(--fs-1);
  font-weight: var(--fw-600);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .header .underline {
  width: 5%;
  height: 5px;
  border-radius: 50px;
  background: var(--text-gradient-yellow);
}

/* CONTENT */

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content {
  padding-top: 30px;
}

/* CONTACT-1 VIA WHATSAPP AND TELEGRAM */

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 {
  border-bottom: 1px solid var(--light-gray-70);
}

/* WHATSAPP */

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp {
  border-right: 2px solid var(--onyx);
  padding-bottom: 15px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .iconBox {
  position: relative;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  /* width: 100%; */
  width: 42px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-gradient-onyx);
  z-index: 1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .iconContact {
  font-size: 25px;
  color: var(--orange-yellow-crayola);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .iconBox:hover .iconContact {
  color: #25D366;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .contactName p {
  color: var(--orange-yellow-crayola);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  margin: 0 10px 0 0;
}

/* TELEGRAM */

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram {
  border-left: 2px solid var(--onyx);
  padding-bottom: 15px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .iconBox {
  position: relative;
  box-shadow: var(--shadow-1);
  border-radius: 10px;
  /* width: 100%; */
  width: 42px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--border-gradient-onyx);
  z-index: 1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .iconBox::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--eerie-black-1);
  border-radius: inherit;
  z-index: -1;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .iconContact {
  font-size: 25px;
  color: var(--orange-yellow-crayola);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .iconBox:hover .iconContact {
  color: #229ED9;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .contactName p {
  color: var(--orange-yellow-crayola);
  font-size: var(--fs-3);
  font-weight: var(--fw-600);
  margin: 0 0 0 10px;
}

/* NUMBER */

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .number .title {
  color: var(--white-1);
  background: var(--onyx);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 5px 19px;
  border-radius: 8px;
}

/* BUTTON TO SEND MESSAGE */

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-whatsapp {
  border-right: 2px solid var(--onyx);
  padding-top: 20px;
  padding-bottom: 35px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-whatsapp .btn {
  background-color: var(--orange-yellow-crayola);
  border: 1px solid var(--orange-yellow-crayola);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  color: var(--smoky-black);
  padding: 5px;
  width: 130px;
  border-radius: 8px;
  box-shadow: var(--shadow-5);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-whatsapp .btn:hover {
  background-color: #25D366;
  border-color: #25D366;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-whatsapp .btn .sendIcon {
  font-size: 20px;
  margin-left: 5px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-telegram {
  border-left: 2px solid var(--onyx);
  padding-top: 20px;
  padding-bottom: 35px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-telegram .btn {
  background-color: var(--orange-yellow-crayola);
  border: 1px solid var(--orange-yellow-crayola);
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  color: var(--smoky-black);
  padding: 5px 0;
  width: 130px;
  border-radius: 8px;
  box-shadow: var(--shadow-5);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-telegram .btn:hover {
  background-color: #229ED9;
  border-color: #229ED9;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .btn-telegram .btn .sendIcon {
  font-size: 20px;
  margin-right: 5px;
  margin-left: -4px;
}

/* CONTACT-2 VIA EMAIL AUTOMATIC */

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 {
  background-color: transparent;
  margin-top: -17px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .orText p {
  font-size: var(--fs-6);
  color: var(--light-gray-70);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 5px 13px;
  background-color: var(--eerie-black-2);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .input {
  color: var(--white-2);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 15px 20px;
  border: 1px solid var(--jet);
  border-radius: 14px;
  background-color: var(--eerie-black-2);
  outline: none;
  box-shadow: var(--shadow-1);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .message-form {
  min-height: 170px;
  height: 170px;
  max-height: 250px;
  resize: vertical;
  margin-bottom: 25px;
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .message-form::-webkit-resizer { display: none; }

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .input:focus {
  border-color: var(--orange-yellow-crayola);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .input:focus:invalid {
  border-color: var(--bittersweet-shimmer);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .btn-submit {
  background-color: var(--bg-gradient-jet);
  border: 1px solid var(--orange-yellow-crayola);
  font-size: var(--fs-6);
  font-weight: var(--fw-500);
  padding: 13px 20px;
  width: max-content;
  border-radius: 14px;
  box-shadow: var(--shadow-1);
  color: var(--orange-yellow-crayola);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .btn-submit:hover {
  background-color: var(--orange-yellow-crayola);
  color: var(--smoky-black);
  font-weight: var(--fw-500);
}

#portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-2 .contact-form .form .btn-submit .sendIcon {
  margin-right: 4px;
  margin-top: -7px;
  font-size: 20px;
  transform: rotate(-40deg)
}

/* *<---------- END OF CONTACT ---------->* */



/* *\_______ RESPONSIVE FOR _______/ */
/* *<----------- MOBILE -----------> */

@media screen and (max-width:600px) {

  /* *<---------- SECOND CONTAINER ---------->* */
  #portoPage .mainContainer .secondContainer {
    padding: 20px 25px;
  }


  /* *<---------- PROFILE CONTACT SIDE ---------->* */
  #portoPage .mainContainer .secondContainer .sidebar .card {
    padding: 15px;
    margin-bottom: 20px;
    position: relative;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .profile {
    padding-bottom: 0;
  }

  
  #portoPage .mainContainer .secondContainer .sidebar .card .profile .col-xl-12:nth-child(1) {
    padding: 0;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .profile .profilePicture img {
    width: 80%;
    margin-bottom: 0;
    border-radius: 20px;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .profile .profile-mobile {
    display: flex;
    align-items: center;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .profile .infoPersonal .name {
    font-size: 23px;
    margin-bottom: 13px;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .profile .infoPersonal .title {
    font-size: 10px;
    margin-bottom: 0;
    padding: 5px 15px;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .btn-modal {
    display: flex;
    width: max-content;
    padding: 9px;
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 1/1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0;
    border: 1px solid var(--jet);
    border-top: 0;
    border-right: 0;
    z-index: 1;
    box-shadow: var(--shadow-1);
    background: var(--smoky-black);
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .btn-modal:hover {
    background: var(--bg-gradient-yellow-2);
    border-color: var(--vegas-gold);
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .btn-modal .iconContact {
    font-size: 18px;
    color: var(--orange-yellow-crayola);
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .fade {
    padding: 10px 5px;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content {
    background-color: var(--eerie-black-2);
    color: var(--white-2);
    padding: 0 10px 10px;
    border-radius: 20px;
    box-shadow: var(--shadow-1);
  }

  /* CONTACT SECTION FOR MOBILE VIEW */

  #portoPage .mainContainer .secondContainer .sidebar .card .contact {
    display: none;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-header {
    border-color: var(--light-gray);
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-body .contact {
    padding-top: 5px;
    border-top: 0;
    display: inline-block;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-body .contact .iconBox {
    position: relative;
    box-shadow: var(--shadow-1);
    border-radius: 10px;
    /* width: 100%; */
    width: 42px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--border-gradient-onyx);
    z-index: 1;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-body .contact .iconBox::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-body .contact .iconContact {
    font-size: 20px;
    color: var(--orange-yellow-crayola);
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-body .contact .title {
    color: var(--light-gray-70);
    font-size: var(--fs-8);
    text-transform: uppercase;
    margin-bottom: 2px;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-body .contact .subTitle {
    color: var(--white-2);
    font-size: var(--fs-7);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }

  #portoPage .mainContainer .secondContainer .sidebar .card .modal-content .modal-body .contact .subTitleLoc {
    color: var(--white-2);
    font-size: var(--fs-7);
  }

  /* *<---------- PROFILE CONTACT SIDE ---------->* */


  /* *<---------- MAIN CONTENT CARD ---------->* */
  #portoPage .mainContainer .secondContainer .mainContent .card {
    margin-bottom: 55px;
  }
  

  /* *<---------- NAVBAR ---------->* */
  #portoPage .mainContainer .secondContainer .mainContent .card .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .navbar ul {
    margin-bottom: 0;
    width: 100vw;
    border-radius: 20px 20px 0 0;
    border: 1px 1px 0 1px;
    border: 1px solid var(--jet);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    box-shadow: var(--shadow-1);
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .navbar li {
    font-size: var(--fs-8);
    padding: 20px 0;
  }


  /* *<---------- ABOUT ---------->* */
  #portoPage .mainContainer .secondContainer .mainContent .card .about {
    margin-top: 0;
    padding: 15px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .header .title {
    font-size: var(--fs-3);
    margin-bottom: 8px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .header .underline {
    width: 40px;
    height: 4px;
    background: var(--text-gradient-yellow);
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .content .aboutSelf {
    margin-top: 9px;
    margin-bottom: 10px;
    font-size: 14px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .subTitle {
    font-size: var(--fs-2);
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService {
    position: relative;
    padding: 15px 30px 20px 30px;
    margin-bottom: 20px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList:nth-child(3) .boxService {
    margin-bottom: 10px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService .iconFullstack img, .iconFrontend img, .iconBackend img {
    width: 50px;
    margin-bottom: 13px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .about .content .service .serviceList .boxService .info .title {
    color: var(--white-2);
    font-size: 16px;
    font-weight: var(--fw-600);
  }


  /* *<---------- SKILL ---------->* */
  #portoPage .mainContainer .secondContainer .mainContent .card .skill {
    margin-top: 0;
    padding: 15px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .skill .header .title {
    font-size: var(--fs-3);
    margin-bottom: 8px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .skill .header .underline {
    width: 40px;
    height: 4px;
    background: var(--text-gradient-yellow);
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .skill .content {
    padding-top: 18px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox .mobile-view {
    height: 100px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .skill .content .iconBox img {
    width: 60%;
    transition: var(--transition-1);
  }


  /* *<---------- PORTFOLIO ---------->* */
  #portoPage .mainContainer .secondContainer .mainContent .card .portofolio {
    margin-top: 0;
    padding: 15px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .portofolio .header .title {
    font-size: var(--fs-3);
    margin-bottom: 8px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .portofolio .header .underline {
    width: 40px;
    height: 4px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content {
    padding-top: 18px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .portofolio .content .portoBox .button .fade {
    padding: 10px 5px;
  }


  /* *<---------- CONTACT ---------->* */
  #portoPage .mainContainer .secondContainer .mainContent .card .contact {
    margin-top: 0;
    padding: 15px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .contact .header .title {
    font-size: var(--fs-3);
    margin-bottom: 8px;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .contact .header .underline {
    width: 40px;
    height: 4px;
  }

  /* CONTENT */
  #portoPage .mainContainer .secondContainer .mainContent .card .contact .content {
    padding-top: 18px;
  }

  /* CONTACT-1 VIA WHATSAPP AND TELEGRAM */
  #portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .iconBox {
    width: 50px;
    margin: auto;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .iconContact {
    font-size: 30px;
    color: var(--orange-yellow-crayola);
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .whatsapp .contactName p {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0 0;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .iconBox {
    width: 50px;
    margin: auto;
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .iconContact {
    font-size: 30px;
    color: var(--orange-yellow-crayola);
  }

  #portoPage .mainContainer .secondContainer .mainContent .card .contact .content .contact-1 .telegram .contactName p {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0 0;
  }
}

/* *\_______ END OF RESPONSIVE FOR _______/ */
/* *<--------------- MOBILE --------------> */